#container {
    width: 400px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

body {
    font-family: Lato, "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
}

img {
    margin-bottom: -20px;
}

h1 {
    font-family: 'Aguafina Script', cursive;
    font-size: 64pt;
    margin-top: 0;
    /*margin-bottom: 20px;*/
}

p {
    font-style: italic;
}

ul {
    padding: 0;
    list-style-type: none;
}
li {
    display: inline-block;
}
li + li {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #eee;
}

a {
  background-color: transparent;
  color: #4078c0;
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: underline;
  outline: 0;
}
