parameters:
  level: max
  paths:
    - src
  ignoreErrors:
    # allow @throws with interfaces
    - message: "/@throws with type .* is not subtype of Throwable/"
      paths:
        - src/Call/Arguments.php
        - src/Call/Call.php
        - src/Call/CallData.php
        - src/Call/CallVerifier.php
        - src/Facade/FacadeTrait.php
        - src/functions.php
        - src/Hook/FunctionHookManager.php
        - src/Invocation/WrappedInvocableTrait.php
        - src/Mock/Builder/MockBuilder.php
        - src/Mock/Handle/Handle.php
        - src/Mock/Handle/HandleFactory.php
        - src/Mock/Handle/HandleTrait.php
        - src/Mock/MockFactory.php
        - src/Stub/Answer/Builder/GeneratorAnswerBuilder.php
        - src/Stub/Stub.php
        - src/Stub/StubData.php
        - src/Stub/StubVerifier.php
        - src/Verification/Cardinality.php
        - src/Verification/CardinalityVerifier.php
        - src/Verification/CardinalityVerifierTrait.php
    # allow testing for class existence with ReflectionClass constructor
    - message: "/class ReflectionClass constructor expects class-string.* string given/"
      paths:
        - src/Mock/Builder/MockBuilder.php
        - src/Mock/Handle/HandleFactory.php
