<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
>
    <testsuites>
        <testsuite>
            <directory>test/suite</directory>
            <directory phpVersion="5.5-dev">test/suite-generators</directory>
        </testsuite>
    </testsuites>
</phpunit>
