name: CI (scheduled)
on:
  schedule:
    - cron: 0 14 * * 0 # Sunday 2PM UTC = Monday 12AM AEST
jobs:
  CI:
    name: CI
    uses: ./.github/workflows/ci.yml
    secrets: inherit
    with:
      publish-coverage: false
