name: Documentation
on:
  push:
    branches:
      - master
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
jobs:
  documentation:
    runs-on: ubuntu-latest
    name: Publish documentation
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
          extensions: mbstring
          coverage: none
      - name: Install dependencies
        run: make vendor
      - name: Publish documentation
        if: success()
        run: make doc-publish
        env:
          DOC_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
